#welcomeBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcomeCard,
#infoCard {
  padding: 18px;
  padding-top: 0px;
}

sl-card::part(footer) {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 750px) {
  sl-card {
    width: 70vw;
  }
}

@media (horizontal-viewport-segments: 2) {
  #welcomeBar {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  #welcomeCard {
    margin-right: 64px;
  }
}
